
  
  .u-footer .u-sheet-1 {
    min-height: 513px;
  }
  
  .u-footer .u-image-1 {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .u-footer .u-logo-image-1 {
    width: 100%;
    height: 100%;
  }
  
  .u-footer .u-layout-wrap-1 {
    margin-top: -40px;
    margin-bottom: 0;
  }
  
  .u-footer .u-layout-cell-1 {
    background-image: none;
    min-height: 306px;
  }
  
  .u-footer .u-container-layout-1 {
    padding: 0 20px;
  }
  
  .u-footer .u-position-1 {
    min-height: 49px;
    width: 223px;
    margin: 19px 0 0;
  }
  
  .u-footer .u-image-2 {
    width: 148px;
    height: 193px;
    margin: 0 auto 0 0;
  }
  
  .u-footer .u-layout-cell-2 {
    min-height: 306px;
  }
  
  .u-footer .u-container-layout-2 {
    padding: 20px;
  }
  
  .u-footer .u-position-2 {
    margin-top: -1px;
    margin-bottom: 0;
  }
  
  .u-footer .u-image-3 {
    width: 148px;
    height: 193px;
    margin: 0 auto 0 0;
  }
  
  .u-footer .u-layout-cell-3 {
    min-height: 306px;
  }
  
  .u-footer .u-container-layout-3 {
    padding: 20px;
  }
  
  .u-footer .u-position-3 {
    margin-top: -1px;
    margin-bottom: 0;
  }
  
  .u-footer .u-image-4 {
    width: 148px;
    height: 193px;
    margin: 0 auto 0 0;
  }
  
  .u-footer .u-layout-cell-4 {
    min-height: 306px;
  }
  
  .u-footer .u-container-layout-4 {
    padding: 20px 0;
  }
  
  .u-footer .u-position-4 {
    min-height: 148px;
    margin: 0 0 0 20px;
  }
  
  .u-footer .u-image-5 {
    width: 148px;
    height: 193px;
    margin: -100px auto 0 20px;
  }
  
  .u-footer .u-social-icons-1 {
    white-space: nowrap;
    height: 32px;
    min-height: 16px;
    width: 188px;
    min-width: 124px;
    margin: 20px auto;
  }
  
  .u-footer .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }
  
  .u-footer .u-icon-2 {
    color: rgb(85, 172, 238) !important;
  }
  
  .u-footer .u-icon-3 {
    color: rgb(197, 54, 164) !important;
  }
  
  .u-footer .u-icon-4 {
    color: rgb(0, 122, 185) !important;
  }
  @media (max-width: 1199px) {
    .u-footer .u-sheet-1 {
      min-height: 1058px;
    }
  
    .u-footer .u-layout-wrap-1 {
      margin-top: -40px;
    }
  
    .u-footer .u-layout-cell-1 {
      min-height: 252px;
    }
  
    .u-footer .u-position-1 {
      height: auto;
      width: 173px;
    }
  
    .u-footer .u-image-2 {
      width: 148px;
      height: 193px;
    }
  
    .u-footer .u-layout-cell-2 {
      min-height: 252px;
    }
  
    .u-footer .u-image-3 {
      width: 148px;
      height: 193px;
    }
  
    .u-footer .u-layout-cell-3 {
      min-height: 252px;
    }
  
    .u-footer .u-image-4 {
      width: 148px;
      height: 193px;
    }
  
    .u-footer .u-layout-cell-4 {
      min-height: 252px;
    }
  
    .u-footer .u-position-4 {
      height: auto;
      margin-left: 0;
    }
  
    .u-footer .u-image-5 {
      width: 148px;
      height: 193px;
      margin-top: -100px;
      margin-left: 0;
    }
  
    .u-footer .u-social-icons-1 {
      width: 188px;
    }
  }
  @media (max-width: 991px) {
    .u-footer .u-sheet-1 {
      min-height: 1078px;
    }
  
    .u-footer .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-footer .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-footer .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-footer .u-layout-cell-4 {
      min-height: 128px;
    }
  }
  @media (max-width: 767px) {
    .u-footer .u-sheet-1 {
      min-height: 1178px;
    }
  
    .u-footer .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-footer .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-footer .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-footer .u-layout-cell-4 {
      min-height: 100px;
    }
  }
  
  
  