<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="booking-bg"></div>
                    <form>
                        <div class="form-header">
                            <h2>Faites votre réservation</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Nom</span>
                                    <input class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Prenom</span>
                                    <input class="form-control" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="form-label">Adresse mail</span>
                            <input class="form-control" type="email">
                        </div>

                        <div class="form-group">
                            <span class="form-label">Numéro Tel</span>
                            <input class="form-control" type="tel">
                        </div>

                        <div class="form-group">
                            <span class="form-label">Nombre de Personnes</span>
                            <input class="form-control" type="number" required>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Date de Réservation</span>
                                    <input class="form-control" type="date" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Heure de Réservation</span>
                                    <input class="form-control" type="time" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-btn">
                                    <a routerLink="/">
                                        <button class="submit-btn">Annuler</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-btn">
                                    <button class="submit-btn">Réserver</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>