<app-navbar></app-navbar>
<section class="banner d-flex justify-content-center align-items-center pt-5">
	
    <div class="container my-5 py-5">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 banner-desc lh-lg">
          <h1 class="text-capitalize py-3 redressed" style="height: 20%;">
            Réserver un Terrain <br />
            Prés de vous
          </h1>
		  <br><br>
          <h4 style="color: aliceblue;">
            Des terrains bien équipés rien que pour vous
          </h4>
         <br><br>
          <p>
            <a routerLink="/reserver">
				<button class="btn btn-outline-info btn-lg rounded-0 merriweather">Réserver Maintenant</button></a>
          </p>
		  <p>
            <a routerLink="/ajouter">
				<button class="btn btn-outline-info btn-lg rounded-0 merriweather">Ajouter Terrain</button></a>
          </p>
        </div>
      </div>
    </div>
  </section>
  
  
  