<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="booking-bg"></div>
                    <form>
                        <div class="form-header">
                            <h2>Ajouter votre Terrain</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Nom_Terrain</span>
                                    <input class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Téléphone Propriétaire</span>
                                    <input class="form-control" type="tel" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Adresse</span>
                                    <input class="form-control" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Ville</span>
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Capacité D'absorption</span>
                                    <input class="form-control" type="number" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Image Terrain</span>
                                    <input class="form-control" type="file">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Heure d'Ouverture</span>
                                    <input class="form-control" type="time" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Heure De fermeture</span>
                                    <input class="form-control" type="time" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-btn">
                                    <a routerLink="/">
                                        <button class="submit-btn">Annuler</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-btn">
                                    <button class="submit-btn">Ajouter</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>